.breadcumb-area {
    background-image: url(../imgcracolandia/cracolandia.jpg);
 
}


.solutech_about_area.choose {
    padding: 100px 0px 0px;
}

.Mapa{
    margin-left: auto;
    margin-right: auto;
}



.logo a:hover {
    color: #fff;
}

.logo a {
    margin-top: 15px;
}

.logo-left{
    display: flex;
    align-items: center;
}

.tituloPraca{
    width: 65%;
    margin-left: 17.5%;    
    margin-right: 17.5%;
    text-align: center;
}
