.breadcumb-area {
    background-image: url(../imgcracolandia/cracolandia.jpg);
 
}


.solutech_about_area.choose {
    padding: 100px 0px 0px;
}

.Mapa{
    margin-left: auto;
    margin-right: auto;
}



.logo a:hover {
    color: #fff;
}

.logo a {
    margin-top: 15px;
}

.logo-left{
    display: flex;
    align-items: center;
}

.tituloPraca{
    width: 65%;
    margin-left: 17.5%;    
    margin-right: 17.5%;
    text-align: center;
}

.witr_progress-style2 .witr_percent {
    right: -10%;
}

@media (min-width: 768px) {
    .col-md-7 {
         width:100%; 
    }
}

@media (max-width: 490px) {
    .witr_progress-style2 .witr_percent {
        right: -25%;
    }
}

@media (max-width: 375px) {
    .witr_progress-style2 .witr_percent {
        right: -70px;
        top: 12px;
    }
}